.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.2vw;
}

.container div {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: white;
    padding: 1vh 0 1vh 0;
    cursor: pointer;
}

.container div:hover {
    color: var(--primary_color_blue);
}

.container a {
    text-decoration: none;
}

.container .active {
    background-color: var(--primary_color_blue);
    color: white;
}

.container .active:hover {
    background-color: var(--primary_color_blue);
    color: white;
}
