
.container {
    width: 100%;
    height: 20vh;
    border: 0.1vh solid #a5a5a5;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 1vh;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.uploadedText {
    background-color: #42d142;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bolder;
    font-family: "Inter", sans-serif;
}

.resultBlock {
    padding: 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.file {
    display: flex;
    font-size: 1em;
    column-gap: 0.5vw;
    color: var(--primary_color_blue);
    text-decoration: underline;
}