#select {
    position: relative;
    width: 100%;
}

#select span {
    padding: 3px;
    background-color: red;
    cursor: pointer;
}

input {
    width: 200px;
}

input:focus + #list {
    display: block;
}

#list {
    display: none;
    position: absolute;
    width: 200px;
}

#list:hover {
    display: block;
}

#list:focus {
    display: none;
}

#list a {
    display: block;
    background: grey;
    color: white;
    text-decoration: none;
    padding: 2px 5px;
}