
.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-row-gap: 5vh;
}

.container div {
    background-color: white;
    display: grid;
    align-items: center;
}

.frame {
    width: 60%;
    margin: auto;
}

.itemBlock {
    display: grid;
    grid-template-columns: 6fr 1fr;
    padding: 1vh 0 1vh 0;
    font-size: 1em;
}

.checkbox {
    width: 1.5vw;
    height: 1.5vw;
}