.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding-bottom: 10vh;
}

.frame {
    background-color: white;
    margin-top: 3vh;
    padding: 4vh 2vw 4vh 2vw;
}

.title {
    font-weight: bolder;
}

.aboutText {
    margin: 4vh 1vw 2vh 1vw;
    font-size: 0.9em;
}

.dcContacts {
    margin: 4vh 1vw 2vh 1vw;
    font-size: 0.9em;
}

.contactItem {
    margin-top: 2vh;
}

.contactType {
    font-weight: bolder;
}

.contactValue {
    margin-left: 1vw;
}

.dcSchedule {
    margin: 4vh 0 2vh 0;
}